


body{
    font-family: 'Lato', sans-serif;
    color: #888;
    margin: 0;
}


.error-message{
	  display: table-cell;
	  vertical-align: middle;
}


@keyframes type{
	  from{box-shadow: inset -3px 0px 0px #888;}
	  to{box-shadow: inset -3px 0px 0px transparent;}
}
